* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Animatsiya {
    position: relative; 
}

.Animatsiya::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background: blue;
    bottom: -2px;
    left: 0;
    transition: width 0.3s ease; 
}
.Animatsiya:hover{
    color: red;

}
.Animatsiya:hover::after {
    content: '';
    position: absolute;
    width: 100px;
    height: 2px;
    background: blue;
    bottom: -2px;
    transition: width 0.3s ease;
}

.navbar {
    height: 0;
    width: 300px; /* Set the initial width */
    transform: translateX(-100%); /* Move the navbar off-screen initially */
    transition: height 2s ease, transform 2s ease, width 2s ease; /* Adjust the duration and timing function as needed */
    transition: 2s all;
}
  
  /* Styles for the navbar when it's open */
  .navbar.open {
    height: 100vh; /* Or your desired height */
    transform: translateX(0); /* Move the navbar back to its original position */
    width: 300px; 
  }
  
  /* Overlay styles */
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; /* Adjusted to cover the entire viewport width */
    height: 100vh;
    z-index: 29; /* Ensure overlay is below the navbar */
    transition:  2s ease; /* Adjust the duration and timing function as needed */
  }
  
  /* Styles for the overlay when the navbar is open */
  .overlay.open {
    display: block;
    opacity: 1;
  }
  