/*!********************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[3].oneOf[7].use[3]!./app/SingIn/page.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************/
.page_container__V1iYR{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 90px;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
  }
  
  .page_form__7GNQ2{
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .page_input__AMKh5{
    padding: 20px;
    background-color: transparent;
    border: 2px solid #bbb;
    color:#bbb;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .page_button__wTa9N {
    width: 400px;
    padding: 20px;
    cursor: pointer;
    background-color: #53c28b;
    border: none;
    border-radius: 5px;
    color: #eee;
    font-weight: bold;
  }
