.btn{
    transition: 1s all;
}
.main1{
    -webkit-box-shadow: -8px 16px 27px 15px rgba(34,34,NaN,1) !important;
    -moz-box-shadow: -8px 16px 27px 15px rgba(34,34,NaN,1) !important;
    box-shadow: -8px 16px 27px 15px rgba(34,34,NaN,1) !important;
}
.btn:hover{
    background-color: aqua;
    margin-top: -10px;
    color: #fff;
}